$header-height: 88px;
$navigation-height: 103px;

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &_wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: visible;
    width: 100%;
    max-width: 940px;
    height: 100%;

    .content {
      position: relative;
      width: 100%;
      height: calc(var(--vh) * 100 - #{$header-height} - #{$navigation-height});
      margin-top: $header-height;
    }

    > :last-child {
      margin-top: auto;
    }
  }

  &.exhibition.lists.detail {
    .content {
      height: 100%;
    }
  }

  .admin-content {
    width: 100%;
  }
}

.content {
  width: 100%;
}

.pages.exhibition {
  background-color: #000000;
  color: #ffffff;
}
