.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;

  &_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 430px;
    height: 100%;

    .content {
      height: 100%;
      width: 100%;
      margin-top: 88px;
      margin-bottom: 103px;
    }

    > :last-child {
      margin-top: auto;
    }
  }
}

.pages.exhibition {
  background-color: #000000;
  color: #ffffff;
}
