.container {
  display: flex;
  flex-direction: column;
  gap: 33px;
  width: 100%;

  .title {
    font-size: 20px;
    font-weight: 400;
  }

  .list {
    width: 100%;

    .list-item-wrapper {
      box-sizing: border-box;
      width: 140px;

      .list-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 33px;

        .img-wrapper {
          width: 100%;
          position: relative;
          overflow: hidden;
          aspect-ratio: 3/4;

          .image {
            border-radius: 5px;
            object-fit: cover;
          }
        }

        .info-box {
          display: flex;
          gap: 10px;

          .rank {
            width: 25px;
            height: 25px;
            border: 1px solid #000000;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 4px 4px 0px #00000040;

            &--exhibition {
              border: 1px solid #ffffff;
              color: #ffffff;
              box-shadow: none;
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            flex: 1;

            .title {
              font-size: 15px;
              color: black;

              &--exhibition {
                color: #ffffff;
              }
            }

            .event-date {
              font-size: 11px;
              color: #9c9c9c;
            }
          }
        }
      }
    }
  }
}
