.title-box {
  width: 100%;
  .title {
    padding: 26px 0 0 26px;
    margin-bottom: 21px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }

  .description {
    padding-left: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #9c9c9c;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.button-box {
  padding-bottom: 19px;
  width: 100%;

  .skip-button {
    padding: 17px;
    border: none;
    width: 100%;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    color: #cbc9c9;
    transition: transform 0.1s ease;

    &:active {
      transform: scale(0.97);
    }
  }

  .button-wrap {
    display: flex;
    padding: 26px;
    margin: 0 auto;
    justify-content: center;
    gap: 9px;

    .button {
      width: 180px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .reset-button {
      border: 1px solid #d9d9d9;
      font-weight: 400;
      font-size: 17px;
      background-color: #ffffff;
    }

    .submit-button {
      background-color: #000000;
      font-weight: 400;
      font-size: 17px;
      color: #ffffff;
    }
  }
}
