.title-box {
  width: 100%;
  .title {
    padding: 26px 0 0 26px;
    margin-bottom: 21px;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
  }

  .description {
    padding-left: 26px;
    font-size: 20px;
    font-weight: 500;
    color: #9c9c9c;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.button-box {
  padding-bottom: 19px;
  width: 100%;

  .skip-button {
    padding: 17px;
    border: none;
    width: 100%;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    color: #cbc9c9;
    transition: transform 0.1s ease;

    &:active {
      transform: scale(0.97);
    }
  }

  .button-wrap {
    display: flex;
    padding: 26px;

    .button {
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 35px;
      font-size: 17px;
      border: none;
      box-sizing: border-box;
      transition:
        transform 0.1s ease,
        background-color 0.2s ease;

      &:active {
        transform: scale(0.97);
      }
    }

    .reset-button {
      display: block;
      margin-right: 8px;
      width: 40%;
      color: #000000;
      background-color: #ffffff;
      border: 2px solid #d0d9d9;
    }

    .submit-button {
      width: 60%;
      color: #ffffff;
      background-color: #5899ed;
    }
  }
}
