.list-wrap {
  height: 65.5dvh;
  width: 100%;

  .counts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;

    .counts-text {
      box-sizing: border-box;
      border: 1px solid #5899ed;
      border-radius: 30px;
      padding: 8px 18px 6px 18px;
      line-height: 19px;
      font-size: 19px;
    }
  }

  .contents {
    height: 90%;
    overflow-y: auto;

    .item-card {
      border-bottom: 1px solid #d9d9d9;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      padding: 35px 5%;

      .image-wrapper {
        position: relative;
        height: 163px;
        min-width: 140px;
      }

      .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 43px;

        .item-title {
          font-size: 19px;
          line-height: 19px;
          margin-bottom: 13px;
        }

        .item-location {
          display: flex;
          align-items: center;
          flex-direction: row;

          p {
            margin-left: 3px;
            font-size: 13px;
            line-height: 13px;
          }
        }

        .item-period {
          font-size: 13px;
          line-height: 13px;
          color: #9c9c9c;
        }
      }
    }
  }
}
