.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -40px;

  .top-section {
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 600;
      font-size: 23px;
    }

    .more {
      font-size: 17px;
      font-weight: 300;
      color: #9c9c9c;
      cursor: pointer;
    }
  }

  .swiper {
    width: 100%;

    .list-item {
      box-sizing: border-box;
      width: 260px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0px 30px;

      .image {
        border-radius: 5px;
      }

      .info-section {
        display: flex;
        gap: 12px;

        .rank {
          width: 32px;
          min-width: 32px;
          height: 32px;
          border: 1px solid #9c9c9c;
          font-weight: 400;
          font-size: 17px;
          border-radius: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 4px 4px 0px #00000040;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .title {
            font-weight: 500;
            font-size: 19px;
          }

          .event-date {
            font-weight: 400;
            font-size: 13px;
            color: #9c9c9c;
          }
        }
      }
    }
  }
}
