.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: -40px;
  padding: 0px 30px;
  // overflow: hidden;

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 600;
      font-size: 23px;
    }

    .more {
      font-size: 17px;
      font-weight: 300;
      color: #9c9c9c;
      cursor: pointer;
    }
  }

  .list-wrapper {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 25px;

    .list {
      width: 100%;
      overflow: visible;

      .list-item-wrapper {
        box-sizing: border-box;
        width: 140px;
      }
    }
  }
}
