.select-wrap {
  width: 100%;
  height: 38dvh;

  .item-card {
    justify-self: center;
    display: flex;
    margin: 43px 15px 0 65px;
    box-sizing: border-box;
    cursor: pointer;

    .image-wrapper {
      overflow: hidden;
      min-width: 140px;
      height: 163px;
      position: relative;
    }

    .item-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 35px;

      .item-status-chip {
        margin-bottom: 13px;
        border: 2px solid #5899ed;
        width: 70px;
        height: 35px;
        background-color: #fff;
        font-size: 15px;
        line-height: 35px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 30px;
      }

      .item-title {
        margin-bottom: 13px;
        font-size: 15px;
        font-weight: 600;
        line-height: 15px;
      }

      .item-location {
        display: flex;
        align-items: center;
        flex-direction: row;

        p {
          margin: 3px;
          font-size: 13px;
          line-height: 13px;
        }
      }

      .item-period {
        font-size: 13px;
        line-height: 13px;
        color: #9c9c9c;
      }
    }
  }

  &.large {
    height: 48dvh;

    .item-card {
      margin-left: 45px;
    }
  }
}
