.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .list {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
    color: #9c9c9c;
  }
}
