.container {
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    gap: 25px;
    padding-left: 35px;
    padding-bottom: 8px;
    box-sizing: border-box;

    .filter-option {
      font-weight: 400;
      font-size: 20px;
      color: #9c9c9c;
      cursor: pointer;
      position: relative;

      &--selected {
        color: #000000;
        text-decoration: underline;
        text-decoration-color: #000000;
        text-underline-offset: 10px;
        text-decoration-thickness: 3px;

        &--exhibition {
          color: #ffffff;
          text-decoration-color: #ffffff;
        }
      }

      &--active {
        &::after {
          content: '';
          position: absolute;
          top: -10px;
          right: -10px;
          width: 8px;
          height: 8px;
          background-color: #5899ed;
          border-radius: 50%;
        }
      }
    }
  }

  .content-container {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
  }

  .footer {
    display: flex;
    flex-direction: column;

    .filter-list-box {
      box-sizing: border-box;
      min-width: 100%;
      height: 70px;
      background-color: #f5f5f5;
      display: flex;
      gap: 30px;
      padding: 20px 30px;
      overflow-x: scroll;
      scrollbar-width: none;

      .filter-list-item {
        flex-shrink: 0;
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        border-radius: 30px;
        background-color: #000000;
        color: #ffffff;
        padding: 7px 20px;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .filter-btn-box {
      width: 100%;
      height: 90px;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      box-sizing: border-box;

      .btn {
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-sizing: border-box;

        &--reset {
          border: 1px solid #d9d9d9;
          font-weight: 400;
          font-size: 17px;
          background-color: #ffffff;

          &--exhibition {
            border-color: white;
            color: white;
            background-color: black;
          }
        }

        &--active {
          background-color: #000000;
          font-weight: 400;
          font-size: 17px;
          color: #ffffff;

          &--exhibition {
            background-color: white;
            color: black;
            border: none;
          }
        }
      }
    }
  }
}
