.container {
  display: flex;
  height: 100%;
  box-sizing: border-box;

  .divider {
    width: 1px;
    background-color: #d9d9d9;
    height: auto;
    margin-top: 50px;
  }

  .section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: scroll;
    padding: 50px 27px;
    scrollbar-width: none;

    .item-list {
      display: flex;
      flex-direction: column;
      gap: 14px;
    }
  }
}
