.container {
  width: 100%;
  padding: 45px;
  box-sizing: border-box;

  .delete-user-btn {
    font-weight: 600;
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
