.bottom-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 26px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 430px;
  box-sizing: border-box;
  color: #000000;
  background-color: #ffffff;

  &_button {
    padding: 0 10px;
    > p {
      margin-top: 3px;
      text-align: center;
    }
  }
}

.hidden {
  display: none;
}
