.header {
  &_search-bar {
    display: flex;
    padding: 17px 25px;
  }
}

.search-box {
  height: 90vh;
  background-color: #ffffff;
  border-top: 4px solid #d9d9d9;
  height: 79vh;
  box-sizing: border-box;

  .search-empty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;

    &_p {
      font-size: 24px;
      color: rgba($color: #000000, $alpha: 0.35);
    }
  }

  .loading-box {
    padding: 30px;
  }

  .search-result-list {
    .event {
      cursor: pointer;
      display: flex;
      border-bottom: 1px solid #d9d9d9;

      .search-location-icon {
        padding: 20px;
      }

      .event-info-box {
        padding: 20px 0;

        .event-name {
          font-size: 17px;
          line-height: 17px;
          font-weight: 500;
          margin-bottom: 9px;
          color: #000000;
        }

        .event-location {
          color: #9c9c9c;
        }
      }
    }
  }
}
