.speed-dial {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  position: absolute;
  right: 14px;
  bottom: 25px;
  z-index: 99;
  width: fit-content;
  text-align: center;
  box-sizing: border-box;
  border-radius: 100%;
}

.speed-dial-actions {
  display: flex;
  gap: 5px;
  flex-direction: row-reverse;
  margin-bottom: 2px;
  padding-right: 40px;
  border: 1px solid #9c9c9c;
  position: absolute;
  background-color: #ffffff;
  // right: 2px;
  box-sizing: border-box;
  border-radius: 100px;
}

.speed-dial-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: none;
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  border-radius: 50%;
}

.speed-dial-btn.main {
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: #000000;
  font-size: 17px;
  color: white;
}

.speed-dial-btn:hover {
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.3s;
}
