.LoginPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    width: 35px;
  }

  .icon-box {
    // margin-top: 5vh;

    .eyes-icon {
      width: 50px;
    }

    .title {
      font-weight: 600;
      font-size: 22px;
      text-align: center;
    }
  }

  .button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-width: 300px;
    margin-top: 8%;

    .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 20%;
      margin: 10px;
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: transparent;
      font-weight: 500;
      font-size: 15px;
      cursor: pointer;

      span {
        flex: 1;
      }

      &.naver {
        background-color: #0ac010;
        color: #ffffff;
      }

      &.kakao {
        background-color: #fee500;
        color: #000000;
      }

      &.google {
        border: 1px solid #9c9c9c7d;
        color: #9c9c9c;
      }
    }
  }
}
