.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 22px;

  .slide {
    width: 100%;

    .slide-item {
      box-sizing: border-box;
      width: 382px;
      height: 429px;

      .banner-img {
        border-radius: 10px;
      }
    }
  }

  .banner-chip {
    width: 126px;
    height: 42px;
    cursor: pointer;
  }
}
