.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    position: sticky;
    top: 0px;
    background-color: white;

    &--exhibition {
      background-color: black;
    }
  }

  .list {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
  }
}
