.container {
  max-width: 215px;
  display: flex;
  flex-direction: column;

  .img-wrapper {
    width: 100%;
    max-height: 285px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 3/4;

    .img {
      object-fit: contain;
    }
  }

  .info-section {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .top {
      display: flex;
      gap: 4px;

      .title {
        font-weight: 500;
        font-size: 19px;
      }

      .icon-wrapper {
        cursor: pointer;
      }
    }

    .address {
      font-weight: 500;
      font-size: 13px;
    }

    .period {
      font-weight: 400;
      font-size: 13px;
      color: #9c9c9c;
    }
  }
}
