.container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 45px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    font-weight: 600;
    font-size: 17px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 16px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      gap: 16px;
    }

    input {
      display: none;
    }

    .list-item {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      .img-wrapper {
        position: relative;
        // width: 100%;
        min-width: 120px;
        height: 120px;
        max-height: 120px;
        aspect-ratio: 1/1;

        @media (max-width: 768px) {
          min-width: 100px;
          height: 100px;
          max-height: 100px;

          .main-image {
            object-fit: contain;
          }
        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }

        .checkbox {
          width: 23px;
          height: 23px;
          background-color: white;
          border-radius: 50px;
          position: absolute;
          right: 8px;
          bottom: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .label {
        font-weight: 400;
        font-size: 10px;
      }
    }
  }
}

.update-btn {
  width: 128px;
}
