.list-item {
  display: flex;
  gap: 20px;

  .img-wrapper {
    border-radius: 5px;
    width: 100%;
    max-width: 120px;
    aspect-ratio: 3 / 4;
    position: relative;
    overflow: hidden;

    .image {
      border-radius: 5px;
      object-fit: cover;
    }
  }

  .info-section {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .day-chip {
      min-width: 66px;
      height: 30px;
      border-color: #5899ed;
      color: #5899ed;

      &--close {
        border-color: #f24646;
        color: #f24646;
      }
    }

    .event-title {
      font-weight: 500;
      font-size: 17px;
    }

    .event-date {
      font-weight: 400;
      font-size: 13px;
      color: #9c9c9c;
    }
  }
}
