.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .title {
    font-weight: 600;
    font-size: 22px;
    padding: 0px 30px;
  }

  .skeleton-wrapper {
    display: flex;
    gap: 20px;

    .skeleton-infos {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .list {
    width: 100%;
    padding: 0px 30px;

    .list-item-wrapper {
      box-sizing: border-box;
      width: 320px;
    }
  }

  .notice {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
  }
}
